.container{
    padding: 20px;
    margin: 10px;
    /* background-color: rgb(255, 228, 228); */
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.container li{
    list-style-type: none;
}
